@keyframes equalizer {
  0% {
    height: 1rem;
  }
  25% {
    height: 2rem;
  }
  50% {
    height: 1.5rem;
  }
  75% {
    height: 2.5rem;
  }
  100% {
    height: 1rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin 10s linear infinite;
}

.album-cover {
  aspect-ratio: 1 / 1;
}
